.filters__label{
  display:flex;
  flex-direction:column;
  color:var(--white);
  font-size:15px;
  gap:8px;
  min-width:240px;
}


.filters__select{
  height:38px;
  padding:8px 10px;
  border-radius:2px;
  background:transparent;
  border:2px solid var(--gold);
  outline:none;
}


@media (max-width:640px){
  .filters__label{ min-width:100%; }
}